# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE or editor-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.swo

# Build output
dist/
build/

# Git-related
.git/
